{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load base_taglib %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div style="max-width: 400px;margin:0 auto;">
    <div style="text-align:center;">
        {%fa fal fa-key fa-6x%}
        <h1 class="h3 mb-3 font-weight-normal">Password Reset</h1>
    </div>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="login-errors">
        {% for  ee in form.non_field_errors %}
            <div class="list-group-item list-group-item-danger">{{ee}}</div>
        {% endfor %}
        {% for field in form %}
            {{ field.errors }}
        {% endfor %}
    </div>

    <p>
        Enter your email address below to receive an e-mail with a link to reset your password.
    </p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <label or="email" class="sr-only">Email Address</label>
        <input type="email" name="email" id="email" placeholder="Email Address" class="initial-focus form-control" />
        <input type="submit" class="btn btn-block btn-success" value="Reset Password" />
    </form>

</div>
{%include 'account/_login_css_js.html'%}
{% endblock %}
