{% extends "account/base.html" %}

{% load i18n %}
{% load base_taglib %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div style="max-width: 400px;margin:0 auto;">

    <div style="text-align:center;">
        {%fa fal fa-key fa-6x%}
        <h1 class="h3 mb-3 font-weight-normal">Change Your Password</h1>
    </div>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
        </p>
    {% else %}
        {% if form %}

            <div class="login-errors">
                {% for  ee in form.non_field_errors %}
                    <div class="list-group-item list-group-item-danger">{{ee}}</div>
                {% endfor %}
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}
            </div>

            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                <label for="password1">New Password:</label>
                <input type="password" name="password1" id="password1" class="form-control" />
                <label for="password1">New Password (again):</label>
                <input type="password" name="password2" id="password2" class="form-control" />

                <input type="submit" name="action" value="{% trans 'change password' %}" class="btn btn-block btn-success"/>
            </form>
        {% else %}
            <p style="text-align:center;">
                Your password has been successfully changed
            </p>
        {% endif %}
    {% endif %}
</div>
{%include 'account/_login_css_js.html'%}
{% endblock %}
