{% extends "account/base.html"  %}
{% load i18n %}
{% load account base_taglib %}

{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div style="max-width: 500px;margin:0 auto;">
    <div style="text-align:center;">
        {%fa far fa-envelope fa-6x%}
        <h1 class="h3 mb-3 font-weight-normal">{% trans "Verify Your E-mail Address" %}</h1>
    </div>
    <p style="text-align:center;">
        An email has been sent to the address you provided.<br />
        Follow the link in the email to finalize the signup process.
    </p>
</div>
{%endblock%}