{% load base_taglib %}
<div class="popup" style="top: 15%;transform: translateY(-15%);">
    <h1 class="float-left">{{contact.display_name}}</h1>
    {%fa fa-window-close class="float-right" onclick="close_contact_form();"%}
    <br style="clear:both;" />
    <table class="table table-condensed">
        <tr>
            <th scope="row"><label for="pu-first_name">First Name</label></th>
            <td>
                <input type="text" id="pu-first_name" name="first_name" value="{{contact.first_name|default:''}}" class="form-control" onchange="update_contact($(this));" />
            </td>
        </tr>
        <tr>
            <th scope="row"><label for="pu-last_name">Last Name</label></th>
            <td>
                <input type="text" id="pu-last_name" name="last_name" value="{{contact.last_name|default:''}}" class="form-control" onchange="update_contact($(this));" />
            </td>
        </tr>
        <tr>
            <th scope="row"><label for="pu-email">Email</label></th>
            <td>
                <input type="email" id="pu-email" name="email" value="{{contact.email|default:''}}" class="form-control" onchange="update_contact($(this));" />
            </td>
        </tr>
    </table>
    <br />
    <br />

        <b>Phone Numbers</b>
        {%include 'base/contact/_phones.html' with contact_id=contact.id%}
    <br />
    <br />

        <b>Addresses</b>
        {%include 'base/contact/_addresses.html' with contact_id=contact.id%}


    <br />
    <br />
    <div style="text-align:center">
        <button type="button" class="btn" onclick="close_contact_form();">{%fa fa-window-close%} Close</button>
    </div>
    <br />
    <br />


</div>
<script type="text/javascript">
    function close_contact_form(){
        $('.popup').remove();
        console.log("DEBUG: 1")
        try{
            {%if new_contact and contact_id%}
                console.log("DEBUG: 2")
                $('#row-contact-new').before('<tr id="row-contact-{{contact_id}}" class="outdated"></tr>');
            {%endif%}
            {%if contact_id%}
                console.log("DEBUG: 3")
                $('.outdated').each(function(){
                    refresh_contact($(this).attr('id').replace('row-contact-', ''));
                });
            {%endif%}
        }
        catch(ee){console.log("DEBUG: ee")}

    }

    function update_contact(el){
        let tr = el.closest('tr');
        let attribute = el.attr('name');
        let value = el.val();

        $.ajax({
            type:   "POST",
            url:    '{%url 'base:update_contact'%}',
            data:   {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                attribute: attribute,
                value: value,
                {%if contact_id%}contact_id: {{contact_id}},{%endif%}
            },
            beforeSend:function(){
                clearAjaxStatusClasses(tr);
                el.addClass('ajax-pending');
            },
            success:function(data){
                clearAjaxStatusClasses(tr);
                el.addClass('ajax-success');
                $('.last-edited-contact').addClass('outdated');
            },
            error:function(){
                clearAjaxStatusClasses(tr);
                el.addClass('ajax-error');
            },
            complete:function(){
            }
        });
    }
</script>